header {
  text-align: center;
  padding: 20px;
}

header img {
  max-width: 200px;
  border-radius: 100px;
  padding: 10px;
  border: solid 1px #000;
}

@media (min-width: 768px) {
  header img {
    max-width: 300px;
    border-radius: 150px;
  }
}
